input {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.first-name {
  width: 148px;
}

.last-name {
  width: 148px;
}

.email {
  width: 335px;
  display: block;
}
button {
  background-color: lightblue;
  color: white;
  border: none;
  width: 370px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}
