.header {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: white;
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  padding: 8px;
  cursor: pointer;
}
.hamburger-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.youtube-logo {
  padding-top: 18px;
  padding-right: 14px;
  padding-bottom: 18px;
  padding-left: 16px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 732px;
  min-width: 0px;
}
.search-box-component-host {
  display: flex;
  flex: 1;
  margin-left: 40px;
  padding-right: 4px;
  padding-left: 4px;
  height: 40px;
  color: #0f0f0f;
}
.search-bar {
  align-items: center;
  /* border-width: 1px;
  border-style: solid;
  border-color: #c6c6c6; */
  border: 1px solid #c6c6c6;
  border-right: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 2px #eee;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 32px;
  padding-right: 4px;
  padding-left: 16px;
  flex: 1;
  cursor: text;
  font-size: 16px;
  line-height: 22px;
  width: 0;
}
.search-bar::placeholder {
  font-size: 16px;
  line-height: 22px;
}
.search-button {
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d3;
  background-color: #f8f8f8;
  width: 64px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0;
  margin: 0;
}
.voice-search-button {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  border: none;
  margin-left: 12px;
  height: 40px;
  width: 40px;
}
.search-icon,
.voice-search-icon {
  height: 24px;
  width: 24px;
}
.search-button,
.voice-search-button,
.notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.search-button:hover,
.plus-create:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.voice-search-button:hover,
.notification-button:hover {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}
.search-button .tooltip,
.voice-search-button .tooltip,
.notification-button .tooltip {
  position: absolute;
  background-color: rgba(97, 97, 97, 0.9);
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notification-button:hover .tooltip {
  opacity: 1;
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: none;
  min-width: 225px;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  border: 0;
}
.plus-create {
  color: #0f0f0f;
  background: rgba(0, 0, 0, 0.05);
  padding-left: 16px;
  padding-right: 16px;
  line-height: 36px;
  border-radius: 18px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.plus-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  margin-left: -6px;
}
.create-text {
  font-size: 14px;
}
.notification-icon-container {
  margin-right: 8px;
  position: relative;
}
.notification-button {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.notifications-count {
  display: flex;
  position: absolute;
  background-color: red;
  color: white;
  border: white;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 10px;
  top: 0px;
  right: 0px;
}
.notifications-icon {
  width: 24px;
  height: 24px;
}
.current-user-button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
.current-user-picture {
  height: 32px;
  width: 32px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 50px;
}
