.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 64px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  z-index: 200;
}

.sidebar-link {
  height: 74px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-title-container {
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 14px;
}

.sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-icon-title {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  max-height: 14px;
  max-width: 64px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
